{% extends 'portfolio/base.html' %}
{% block content %}
<div class="grid grid-auto">
    <div class="p-4 w-max h-90 text-center bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-indigo-500">
        <div class="p-4 w-90 text-left bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-indigo-500">
            <h5 class="mb-5 text-3xl font-bold text-gray-200"><code>Welcome to my Webpage!</code></h5>
            <p class="mb-5 text-base text-gray-500 sm:text-lg text-sky-500 dark:text-sky-400"><code>def hello_foo():</code></p>
            <p class="mb-5 text-base text-gray-500 sm:text-lg text-sky-500 dark:text-sky-400"><code>&emsp;&emsp;&emsp;&emsp;user = User()</code></p>
            <p class="mb-5 text-base text-gray-500 sm:text-lg text-sky-500 dark:text-sky-400"><code>&emsp;&emsp;&emsp;&emsp;return user.name</code></p>
            <div class="mt-4 text-sky-500 dark:text-sky-400 text-justify"><code>print(f"Hello, {hello_foo()}!")</code></div>
        </div>
    </div>
    <div class="p-4 w-max h-90 text-center bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-indigo-500 my-4">
        <div class="p-4 w-90 text-justify bg-white rounded-lg border shadow-md sm:p-8 dark:bg-gray-800 dark:border-indigo-500">
        <p class="mb-5 text-left text-2xl text-sky-500 dark:text-gray-200"><code>Tab (Section) description</code></p>
        <p class="mb-5 text-left sm:text-lg text-sky-500 dark:text-sky-400 hover:text-white"><code><a href="/portfolio">Portoflio: My portfolio projects with a redirect to each github repo.</code></p></a>
        <p class="mb-5 text-left sm:text-lg text-sky-500 dark:text-sky-400 hover:text-white"><code><a href="/tutorial">Python Articles: Beginner friendly Python articles I am writing to help others reach their goal.</code></p></a>
        <p class="mb-5 text-left sm:text-lg text-sky-500 dark:text-sky-400 hover:text-white"><code><a href="/api">Followed sources content: The newest published content by Blogs, Podcasts and Youtube channels that I follow and recommend.</code></p></a>
        </div>
    </div>
</div>
{% endblock %}