{% extends 'portfolio/base.html' %}
{% block content %}
<div class="flex flex-row items-center justify-center">

    <div class="mx-20">
        <p class="text-2xl mb-5 text-gray-200 font-mono">Hi, I'm Dawid.</p>
        <h1 class="text-gray-200 font-mono inline-block max-w-2xl lg:max-w-4xl w-auto text-5xl md:text-6xl lg:text-7xl tracking-tighter"><span class="text-sky-500 dark:text-sky-500">Python </span><span class="text-yellow-300 dark:text-yellow-300">developer</span>, also I enjoy web development.</h1>
        <p class="text-gray-200 font-mono mt-10">I'm also using Groovy to develop Chat, Chatbot and Voice solutions connecting them with different APIs.</p>
        
        <div class="py-5">
                <div class="w-max h-max sm:p-8">
                <p class="mb-2 text-base text-gray-500 sm:text-lg"><code><span class="text-sky-500 dark:text-sky-500">def</span> <span class="text-yellow-100 dark:text-yellow-100">hello_foo</span><span class="text-yellow-300 dark:text-yellow-300">()</span><span class="text-gray-200 dark:text-gray-200">:</span></code></p>
                <p class="mb-2 text-base text-gray-500 sm:text-lg text-sky-400 dark:text-sky-400"><code>&emsp;&emsp;&emsp;&emsp;<span class="text-cyan-300 dark:text-cyan-300">user</span><span class="text-gray-200 dark:text-gray-200"> = </span><span class="text-green-500 dark:text-green-500">User</span><span class="text-yellow-300 dark:text-yellow-300">()</span></code></p>
                <p class="mb-2 text-base text-gray-500 sm:text-lg text-sky-400 dark:text-sky-400"><code>&emsp;&emsp;&emsp;&emsp;<span class="text-purple-400 dark:text-purple-400">return </span><span class="text-cyan-300 dark:text-cyan-300">user.name</span></code></p>
            <div class="mt-2 text-sky-400 dark:text-sky-400 text-justify">
                <code><span class="text-yellow1300 dark:text-yellow-100">print</span><span class="text-yellow-300 dark:text-yellow-300">(</span><span class="text-sky-500 dark:text-sky-500">f</span><span class="text-amber-600 dark:text-amber-600">"Hello, </span><span class="text-fuchsia-500 dark:text-fuchsia-500">{</span><span class="text-yellow-100 dark:text-yellow-100">hello_foo</span><span class="text-sky-500 dark:text-sky-500">()</span><span class="text-fuchsia-500 dark:text-fuchsia-500">}</span><span class="text-amber-600 dark:text-amber-600">!"</span><span class="text-yellow-300 dark:text-yellow-300">)</span></code>
            </div>
        </div>
            <p class="mb-5 text-gray-200 font-mono py-5">The technologies I've got experience in</p>
            
            <div class="max-w-lg w-full md:mx-none grid gap-x-8 gap-y-12 sm:gap-8 md:gap-12 grid-cols-3 sm:grid-cols-6 items-center place-content-center mt-10">
                <div title="Python" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Python</p>
                </div>
                <div title="Django" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" class="bg-white" alt="Django">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Django</p>
                </div>
                <div title="Git" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="Git">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Git</p>
                </div>
                <div title="Docker" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" alt="Docker">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Docker</p>
                </div>
                <div title="HTML" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">HTML</p>
                </div>
                <div title="TailwindCSS" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" alt="TailwindCSS">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">TailwindCSS</p>
                </div>
                <div title="HTML" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">CSS</p>
                </div>
                <div title="APIs" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://img.icons8.com/material-two-tone/344/api-settings.png" class="bg-white" alt="APIs">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">APIs</p>
                </div>
                <div title="MsSQL" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/microsoftsqlserver/microsoftsqlserver-plain.svg" class="bg-white" alt="MsSQL">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">MsSQL</p>
                </div>
                <div title="Groovy" class="w-10 mx-auto flex items-center flex-col justify-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/groovy/groovy-original.svg" class="bg-white" alt="Groovy">
                    <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Groovy</p>
                </div>
            </div>
            <p class="mb-5 mt-10 text-gray-200 font-mono py-5">The technologies I want to learn and grow in</p>
                <div class="max-w-lg w-full md:mx-none grid gap-x-8 gap-y-12 sm:gap-8 md:gap-12 grid-cols-3 sm:grid-cols-6 items-center place-content-center mt-10">
                    <div title="Django" class="w-10 mx-auto flex items-center flex-col justify-center">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain.svg" class="bg-white" alt="Django">
                        <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Django</p>
                    </div>
                    <div title="Javascript" class="w-10 mx-auto flex items-center flex-col justify-center">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="Javascript">
                        <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Javascript</p>
                    </div>
                    <div title="React" class="w-10 mx-auto flex items-center flex-col justify-center">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" alt="React">
                        <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">React</p>
                    </div>
                    <div title="React" class="w-10 mx-auto flex items-center flex-col justify-center">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original.svg" alt="Redis">
                        <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">Redis</p>
                    </div>
                    <div title="React" class="w-10 mx-auto flex items-center flex-col justify-center">
                        <img src="https://www.svgrepo.com/show/303576/rabbitmq-logo.svg" alt="RabbitMQ">
                        <p class="text-gray-200 text-xs text-fun-gray font-bold mt-3 opacity-80">RabbitMQ</p>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}